.container__small-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    margin: 1rem;
}

.big-small__photo > img{
    width: 13rem;
}

.big-small__title > h1{
    font-size: 2rem;
    margin-top: 0.5rem;
}